NUWAX_OPENUI_HOST=127.0.0.1
NUWAX_OPENUI_PORT=8787
NUWAX_OPENUI_BASE_URL=http://127.0.0.1:8787
NUWAX_OPENUI_ALLOWED_HOSTS=127.0.0.1,localhost
NUWAX_OPENUI_FRAME_ANCESTORS='self',http://127.0.0.1:8000
NUWAX_OPENUI_ARTIFACT_TTL_SECONDS=3600
